<h1>Listing all todos</h1>
<p><%= link_to "Create a Todo", new_todo_path %></p>
<table>
  <tr>
    <th>Name (show)</th>
    <th>Description (edit)</th>
  </tr>
  <% @todos.each do |td| %>
  <tr>
    <td><%= td.name %></td>
    <td>:<%= td.description %></td>
    <td><%= link_to td.name, edit_todo_path(td) %></td>
    <td><%= link_to "Show", todo_path(td) %></td>
  </tr>
    <% end %>
</table>
